<div class="container-fluid">
  <div class="row">
      <div class="col-sm-auto bg-light sticky-top">
          <div class="d-flex flex-sm-column ">
              <a  routerLink="./listar" class="p-3 link-dark text-decoration-none" data-bs-placement="right"id="listarTipoAsistencia" >
                  Listar
              </a>
              <a  routerLink="./crear" class="p-3 link-dark text-decoration-none"  data-bs-placement="right"id="crearTipoAsistencia" >
                  Crear
              </a>
          </div>
      </div>
      <div class="col-sm min-vh-100">
        <div class="mb-5 mt-3 ms-3" id="txtHomeTipoAsistencia">En este lugar podras ver y registrar los tipos de asistencias de la serviteca</div>
        <router-outlet></router-outlet>
      </div>
  </div>
</div> 